@import "tailwindcss";

@theme {
	--color-main-base: #f55536;
	--color-main-hover: #bd3b22;
	--color-base-dark: #212429;
	--color-base-white: #f2f2f2;

	--font-poppins: Poppins, sans-serif;

	--spacing-block: 600px;

	--animate-tooltip: tooltip 0.5s ease 1;

	@keyframes tooltip {
		0% {
			transform: scale(0);
		}
		80% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
}

@layer components {
	.arrow-up:after {
		@apply w-4 h-4 content-[''] block absolute -top-2 left-auto bg-main-base;
	}
}

.slide-in-component {
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.slide-in-component.active {
	transform: translateX(0);
	opacity: 1;
}
